.app-header {
    background-color: #32404e;
    border-bottom: 0px solid #32404e;

}

.app-header:hover {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 255, 0.8);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 255, 0.8);
    box-shadow: 0 1px 2px rgba(0, 0, 255, 0.8);
}

.circle-pic {
    width: 45px;
    height: 45px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.home-body {
    background-image: url(../images/square.gif);
}

.chart-body {
    margin: 20px 20px 20px 20px;
    border: 3px #d0d0d0 solid;
    -webkit-box-shadow: #ddd 0px 5px 10px;
    -moz-box-shadow: #ddd 0px 5px 10px;
    box-shadow: #ddd 0px 5px 10px;
}

/*按钮颜色*/
.blue-button {
    background: #00cc99 none !important;
}

.red-btn {
    background-color: red;
}

.green-btn {
    background-color: green;
}

.red-color {
    color: red;
}

/**
 * 	16图标配置
 */
.icon-avatar {
    background-image: url('../icon/16/User.png') !important;
    border: none
}

.icon-setting {
    background-image: url('../icon/16/Setting.png') !important;
    border: none
}

.icon-desktop {
    background-image: url('../icon/16/computer.png') !important;
    border: none
}

.icon-wallpaper {
    background-image: url('../icon/16/gears.png') !important;
    border: none
}

.icon-logout {
    background-image: url('../icon/16/Power.png') !important;
    border: none
}

.icon-key {
    background-image: url('../icon/16/key.png') !important;
    border: none
}

.icon-pailie {
    background-image: url('../icon/16/application_cascade.png') !important;
    border: none
}

.icon-close {
    background-image: url('../icon/16/close.png') !important;
    border: none
}

.icon-refresh {
    background-image: url('../icon/16/refresh.png') !important;
    border: none
}

.icon-add {
    background-image: url('../icon/16/add.png') !important;
    border: none
}

.icon-yes {
    background-image: url('../icon/16/yes.png') !important;
    border: none
}

.icon-no {
    background-image: url('../icon/16/no.png') !important;
    border: none
}

.icon-comment {
    background-image: url('../icon/16/comment.png') !important;
    border: none
}

.icon-update {
    background-image: url('../icon/16/update.png') !important;
    border: none
}

.icon-delete {
    background-image: url('../icon/16/delete.png') !important;
    border: none
}

/*extjs hacker*/
.no .x-grid-cell-inner {
    font-weight: normal;
    text-decoration:line-through;
    background-color: red;
}