<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <title>spring boot2.0.0 and Extjs6.2.0示例应用</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link th:href="@{/webjars/extjs/6.2.0/classic/theme-crisp/resources/theme-crisp-all.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/assets/vendor/fontawesome/4.4.0/css/font-awesome.min.css}" rel="stylesheet"/>
    <link th:href="@{/app/resource/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/app/resource/css/admin.css}" rel="stylesheet"/>
</head>
<body>
<script th:src="@{/webjars/extjs/6.2.0/ext-all.js}"></script>
<script th:src="@{/webjars/extjs/6.2.0/classic/theme-crisp/theme-crisp.js}"></script>
<script th:src="@{/webjars/extjs/6.2.0/classic/locale/locale-zh_CN.js}"></script>
<script th:src="@{/webjars/assets/echart/echarts.min.js}"></script>
<script th:src="@{/app/luter/utils.js}"></script>
<script th:src="@{/app/luter/config.js}"></script>
<script th:src="@{/app/luter/app.js}"></script>
<script th:src="@{/app/luter/Regions.js}"></script>
</body>
</html>